<div class="col-sm-12">
<p id="notice"><%= notice %></p>

<h3>
  <%= @publication.author %>
</h3>

<h1>
  <%= @publication.title %>
</h1>

<p>
  <%= @publication.data %>
</p>


<p>
  <strong>Isbn:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>Page one url:</strong>
  <%= @publication.page_one_url %>
</p>
<%= image_tag(@publication.page_one_url) %>
</div>

<div class="col-sm-4">
<% if @publication.doi %>
<p>
  <strong>DOI:</strong>
  <%= link_to_doi @publication.doi %>
</p>
<% elsif @publication.url %>
<p>
  <strong>URL:</strong>
  <%= @publication.url %>
</p>
<% end %>
</div>

<div class="col-sm-4">
  <strong>Reviews:</strong>
  <%= link_to_mr @publication.mr if @publication.mr %>
  <%= link_to_zbl(@publication.zbl) if @publication.zbl %>
</div>

<div class="col-sm-4">
  <strong>Preprints:</strong>
  <%= @publication.owp %>

<p>
  arXiv:
  <%= @publication.arxiv %>
</p>
</div>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
